<!-- /sections/collection.liquid -->

{% capture default_show_filters %}{%- unless section.settings.hide_sidebar -%}filters--default-visible{%- endunless -%}{% endcapture %}
{% liquid
  if section.settings.grid_mobile == "2"
    assign mobile_compact_class = 'collection--compact-mobile'
  endif

  assign preload_count = section.settings.grid_large | at_most: 4
%}

{% style %}
{%- case section.settings.width -%}
  {%- when 'wrapper--full' -%}
    {%- assign hero_content_max_width = 'none' -%}
  {%- when 'wrapper' -%}
    {%- assign hero_content_max_width = 'var(--LAYOUT-WIDTH)' -%}
  {%- endcase -%}

  :root {
    --HERO-CONTENT-MAX-WIDTH: {{ hero_content_max_width }};
  }
{% endstyle %}

{% if template.suffix == 'location-collection' %}
  <section class="page__template section-padding {{ section.settings.text_color }} {{ section.settings.bg }}"
  data-section-id="{{ section.id }}"
  data-section-type="page"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">
  <div class="wrapper section-padding">
  <h3 class="accent-size-5">Meet {{ collection.title }} Artists</h3>
  <div class="float-grid">
        {% assign page_H = collection.handle %}
        {% if collections[page_H].empty? or collections[page_H].products_count == 0 %}
        <div class="grid__item"> <p>Sorry, there are no artists in this location.</p></div>
        {% else %}
        
  
          {% for link in linklists[page_H].links %}
          <div class="grid__item medium-up--one-quarter">
              {% assign artist = link.object %}
              <div class="artist">
                <div class="artist-img"> 
                  <a href="{{artist.url}}">
                    <div style="background-image: url('{{ artist | img_url: 'large' }}');" class="artist-face-img"></div>
                    {% if artist.metafields.artist.featured_art %}
                    <div style="background-image: url('{{ artist.metafields.artist.featured_art }}');" class="artist-art-img"></div>
                    {% else %}
                    <div style="background-image: url('{{ artist.products.first.featured_image | product_img_url: 'large'}}');" class="artist-art-img"></div>
                    {% endif %}
                  </a>
                </div>
                <div class="artist-detail">
                  <h3>
                    <a href="{{artist.url}}">
                      {{artist.title}}
                    </a>
                  </h3>
                </div>
              </div>
          </div>
          {% endfor %}
  
        {% endif %}
    <div class="clear"></div>
  </div>
  </div>
  </section>
{% endif %}

<div class="{{ section.settings.color_bg }}"
  data-section-id="{{ section.id }}"
  data-section-type="collection"
  data-sort="{{ section.settings.collection_sorting }}"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">

  <div class="collection {{ mobile_compact_class }}" data-sidebar-toggle>
    <div class="{{ section.settings.width }} section-padding">
      {%- assign collection_sidebar = false -%}
      {%- if section.blocks.size > 0 -%}
        {%- assign collection_sidebar = true -%}
      {%- endif -%}

      {% if collection_sidebar or section.settings.collection_sorting or section.settings.enable_layout_toggle %}
        <nav class="collection__nav" data-collection-tools>
          <div class="collection__nav__buttons">
            {% if collection_sidebar %}
              {% capture current_filters_count %}
                {%- assign filter_count = 0 -%}
                {%- for filter in collection.filters -%}
                  {%- assign filter_count = filter_count | plus: filter.active_values.size -%}
                {%- endfor -%}
                {%- if filter_count > 0 -%}
                  <div class="badge">{{ filter_count }}</div>
                {%- endif -%}
              {% endcapture %}
              <button class="collection__filters__toggle {{ default_show_filters }}" data-filters-toggle="filters">
                <span class="hide-filters">{{ 'collections.sidebar.hide_filters' | t }}</span>
                <span class="show-filters">{{ 'collections.sidebar.filter' | t }}</span>
                <span data-active-filters-count>{{ current_filters_count }}</span>
                {% render 'icon-core-filter' %}
              </button>
            {% endif %}
            {% if section.settings.collection_sorting %}
              <div class="collection__sort">
                {% render 'collection-sorting', collection: collection %}
              </div>
            {% endif %}
          </div>
          {% if section.settings.enable_layout_toggle %}
            <div class="collection__layout">
              <button data-focus-element aria-label="{{ 'general.accessibility.toggle_with_count' | t: count: 1 }}" data-toggle-grid="1">{% render 'icon-fill-grid-1' %}</button>
              <button data-focus-element aria-label="{{ 'general.accessibility.toggle_with_count' | t: count: 2 }}" data-toggle-grid="2">{% render 'icon-fill-grid-2' %}</button>
              <button data-focus-element aria-label="{{ 'general.accessibility.toggle_with_count' | t: count: 3 }}" data-toggle-grid="3">{% render 'icon-fill-grid-3' %}</button>
              <button data-focus-element aria-label="{{ 'general.accessibility.toggle_with_count' | t: count: 4 }}" data-toggle-grid="4">{% render 'icon-fill-grid-4' %}</button>
            </div>
          {% endif %}
        </nav>
      {% endif %}

      {% render 'filters-active' collection: collection, show_products_count: section.settings.show_products_count %}

      <div class="collection__content">
        {% if collection_sidebar %}
        <aside class="collection__filters__wrapper {{ default_show_filters }}" data-collection-sidebar data-filters="filters" data-default-hide="{{ section.settings.hide_sidebar }}">
          <div class="collection__filters__outer">
            <div class="drawer__top">

              <div class="drawer__top__left">
                <p class="cart__drawer__title">{{ 'collections.sidebar.filter' | t }}</p>
              </div>

              <button class="drawer__button drawer__close"
                data-filters-toggle="filters"
                aria-label="{{ 'general.accessibility.close' | t }}">
                {% render 'icon-core-x' %}
              </button>
            </div>
            <div class="collection__filters__inner">
              {% render 'collection-filters-sidebar', section: section, collection: collection %}
            </div>
          </div>
          <span class="drawer__underlay" data-filters-underlay>
            <span class="drawer__underlay__fill"></span>
            <span class="drawer__underlay__blur"></span>
          </span>
        </aside>
        {% endif %}

        {%- paginate collection.products by section.settings.product_limit -%}
          <div class="collection__products" data-products-grid>
            <div class="svg-loader-container">
              <svg height="18" width="18" class="svg-loader">
                <circle r="7" cx="9" cy="9" />
                <circle stroke-dasharray="87.96459430051421 87.96459430051421" r="7" cx="9" cy="9" />
              </svg>
            </div>
            <div class="js-grid" data-grid-large="{{ section.settings.grid_large }}" data-grid-small="{{ section.settings.grid_mobile }}">
              <!-- /snippets/product-grid-item.liquid -->

              {% for product in collection.products %}
              <div>
                {%- liquid
                  assign preload = false

                  if forloop.index0 < preload_count
                    assign preload = true
                  endif
                -%}
                {% render 'product-grid-item', product: product, preload: preload %}
                </div>
              {% else %}
                {% if collection.handle == 'all' and collection.current_tags == '' %}
                  {% render 'onboarding-empty-collection' %}
                {% else %}
                <div class="js-grid__full-row">
                  <p>{{ 'collections.general.no_matches' | t }}</p>
                </div>
                {% endif %}
              {% endfor %}
            </div>
            {% if paginate.pages > 1 %}
              <div class="text-center">
                {% render 'pagination-custom', paginate: paginate, enable_ajax: true %}
              </div>
            {% endif %}
          </div>
        {% endpaginate %}
      </div>
    </div>
  </div>
</div>
  <style>
    .image__hero__frame {max-height: 100vh !important;}
  </style>
  {% if template.suffix == 'location-collection' %}
  <style>
  @media screen and (max-width: 1000px) {
    .medium-up--one-quarter {
      width: 33.3%;
    }
  }
  @media screen and (max-width: 700px) {
    .medium-up--one-quarter {
      width: 50%;
    }
  }
  @media screen and (max-width: 450px) {
    .medium-up--one-quarter {
      width: 100%;
    }
  }

    /* Common style */
    .listing .grid__item {
      margin-bottom: 40px;
    }
.listing figure {
  position: relative;
  float: left;
  overflow: hidden;
  min-width: 100%;
  max-width: 100%;
  max-height: 360px;
  width: 100%;
  height: 270px;
  text-align: center;
  cursor: pointer;
  /*display: flex;  */
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }

.listing figure img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  max-height: 88%;
  max-width: 88%;
  margin: auto; }

.art-prints .listing figure img,
[data-tab-id="prints"] .listing figure img,
.template-collection-print .listing figure img {
  max-height: 90%;
  border: 1px solid #aaa;
  background: white;
  padding: 8px; }

.listing figure figcaption {
  padding: 2em;
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.listing figure figcaption h2 {
  font-size: 30px; }

.listing figure figcaption::before,
.listing figure figcaption::after {
  pointer-events: none; }

.listing figure figcaption,
.listing figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.listing figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.listing figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

.listing figure h2 span {
  font-weight: 800; }

.listing figure h2,
.listing figure p {
  margin: 0; }

.listing figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

    /*---------------*/
/***** Sadie *****/
/*---------------*/
figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0); }

figure.effect-sadie h2 {
  position: absolute;
  top: 45%;
  opacity: 0;
  left: 0;
  width: 100%;
  color: #484c61;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-sadie p {
  position: absolute;
  bottom: 20%;
  left: 0;
  padding: 2em;
  width: 100%;
  z-index: 9999;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0); }

figure.effect-sadie p a {
  font-size: 14px;
  padding: 13px 28px; }

figure.effect-sadie p a:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000; }

figure.effect-sadie:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  opacity: 1; }

figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
    </style>
    {% endif %}

{% schema %}
{
  "name": "Collection product grid",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type":    "range",
      "id":      "product_limit",
      "min":     1,
      "max":     50,
      "step":    1,
      "label":   "Products per page",
      "default": 36
    },
    {
      "type":    "range",
      "id":      "grid_large",
      "min":     1,
      "max":     4,
      "step":    1,
      "label":   "Desktop: products per row",
      "default": 3
    },
    {
      "type": "select",
      "id": "grid_mobile",
      "label": "Mobile: products per row",
      "options": [
        {
          "value": "1",
          "label": "One"
        },
        {
          "value": "2",
          "label": "Two"
        }
      ],
      "default": "2"
    },
    {
      "type": "checkbox",
      "id": "enable_layout_toggle",
      "label": "Show product layout buttons",
      "default": true
    },
    {
      "type": "select",
      "id": "color_bg",
      "label": "Background color",
      "default": "palette--light bg--neutral",
      "options": [
        { "value": "palette--light bg--neutral", "label": "Default"},
        { "value": "palette--light bg--accent", "label": "Light"},
        { "value": "palette--dark bg--invert", "label": "Dark"},
        { "value": "palette--dark bg--invert--accent", "label": "Dark accent"},
        { "value": "palette--bright bg--bright", "label": "Bright"},
        { "value": "palette--bright bg--bright--accent", "label": "Bright accent"}
      ]
    },
    {
      "type": "header",
      "content": "Collection sorting"
    },
    {
      "type": "checkbox",
      "id": "collection_sorting",
      "label": "Show collection sorting",
      "default": true
    },
    {
      "type": "header",
      "content": "Collection filter sidebar"
    },
    {
      "type": "checkbox",
      "id": "hide_sidebar",
      "label": "Hide filter sidebar by default",
      "info": "Customers will have the option to show them"
    },
    {
      "type": "checkbox",
      "id": "collapse_filters",
      "label": "Collapse filter accordions",
      "info": "Active filters will remain open",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_products_count",
      "label": "Show products count",
      "info": "Product count will be shown when filters are active",
      "default": true
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 64
    }
    ],
    "blocks": [
    {
      "type": "filters",
      "name": "Filters",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Create filters in the [navigation](/admin/menus) section of your online store setings."
        }
      ]
    },
    {
      "type": "collections",
      "name": "All Collections",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Show a list of all the collections in your store."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "All collections"
        }
      ]
    },
    {
      "type": "nav_links",
      "name": "Navigation links",
      "settings": [
        {
          "type": "link_list",
          "id": "collection_linklist",
          "label": "Sidebar navigation",
          "info": "Create a list of [navigation links](/admin/menus) to show specific collections in the sidebar."
        }
      ]
    }
  ]
}

{% endschema %}
